.register-container {
    display: flex;
    justify-content: center; /* 중앙 정렬을 위해 추가 */
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* 중앙 정렬을 위해 추가 */
}

.logo {
    width: 155px;
    height: auto;
}

.content {
    flex: 1 1 auto;
    padding-top: 10px;
}

.form {
    display: flex;
    min-width: 460px;
    box-sizing: border-box;
    flex-direction: column;
}

.btn_submit {
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: #692ead;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff
}

.form_section {
    padding: 0 20px
}

.form_item {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50px;
    padding: 0 10px 0 10px;
    border-radius: 5px; /* 둥근 테두리를 위해 추가 */
    border: 1px solid #000000; /* 테두리 색상을 위해 추가 */
}

.input {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}

.custom-select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #c6c6c6;
    border-radius: 0 4px 4px 0;
    flex: 1;
    padding: 6px;
    font-size: 13.5px;
    line-height: normal;
    color:#929294;
    margin-top: 16px;
}

.adult_list {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    padding-left: 9px;
}

.adult_list .radio_item {
    width: 50%
}

.label {
    display: block;
    margin-bottom: 10px;
}

.radio_group {
    display: flex;
    gap: 10px;
    align-items: center; /* 추가: 성별 선택과 연령대 선택을 같은 라인에 위치하게 함 */
}

.radio_group label {
    cursor: pointer;
}

.radio_label {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.radio_label:hover {
    background-color: #692ead;
    color: #fff;
}

.radio_label input[type="radio"] {
    display: none;
}