.register-container {
    display: flex;
    justify-content: center;
    /* 중앙 정렬을 위해 추가 */
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* 중앙 정렬을 위해 추가 */
}

.logo {
    width: 155px;
    height: auto;
}

.content {
    flex: 1 1 auto;
    padding-top: 10px;
}

.form_rg {
    display: flex;
    min-width: 460px;
    box-sizing: border-box;
    flex-direction: column;
    font-size: initial;
line-height: initial;
}

.form_content {
    flex: 1 1 auto
}

.form_content:not([style*="display: none"])+.form_content {
    margin-top: 10px
}


.btn_submit_wrap {
    flex: none;
    padding: 20px
}

.btn_submit {
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: #692ead;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff
}

.form_section {
    padding: 0 20px
}

.form_section+.form_section {
    margin-top: 28px;
    padding-top: 24px;
    border-top: 1px solid #dfdfdf
}

.form_list {
    position: relative;
    margin-bottom: 10px;
    border-radius: 6px
}

.form_list+.form_list {
    margin-top: 10px
}

.form_list::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #c6c6c6;
    pointer-events: none;
    content: ''
}

.form_item::before {
    position: absolute;
    top: 10px;
    left: 9px;
    content: ''
}

.form_item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: ''
}

.form_item {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50px;
    padding: 0 10px 0 10px;
}

.form_item:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.form_item:first-of-type .btn_code {
    border-top-right-radius: 6px
}

.form_item:last-of-type {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}

.form_item:last-of-type .btn_code {
    border-bottom-right-radius: 6px
}

.form_item+.form_item {
    margin-top: -1px
}


.form_item.adult {
    padding: 0 10px 10px 10px
}

.form_item.adult::before {
    content: none
}

.form_item.group_type:not(.on) .select {
    font-size: 15px;
    line-height: 22px;
    color: #929294
}

.input {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}

.input:-ms-input-placeholder {
    font-size: 15px;
    color: #929294
}

.input::placeholder {
    font-size: 15px;
    color: #929294
}

.gender_list {
    width: 100%
}

.gender_list .radio_item {
    width: 33.333333%
}

.radio_item {
    display: inline-block;
    vertical-align: top
}

.radio_item+.radio_item {
    margin-left: -1px
}

.radio_item:first-of-type {
    border-radius: 4px 0 0 4px
}

.radio_item:last-of-type {
    border-radius: 0 4px 4px 0
}

.frist input:checked+label {
    z-index: 1;
    border-color: #692ead;
    font-weight: 600;
    color: #692ead;
}
.second input:checked+label {
    z-index: 1;
    border-color: #692ead;
    font-weight: 600;
    color: #692ead;
}
.radio_item label {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 0;
    border-radius: inherit;
    border: 1px solid #c6c6c6;
    font-size: 13px;
    line-height: 18px;
    color: #929294;
    text-align: center
}



.custom-select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #c6c6c6;
    border-radius: 0 4px 4px 0;
    flex: 1;
    padding: 6px;
    font-size: 13.5px;
    line-height: normal;
    color: #929294;
    height: 31.6px;
}

.custom-select::before {
    position:absolute; 
    top:0; 
    bottom:0; 
    margin:auto; 
    content:'▼';
}


.adult_list {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    padding-left: 9px;
    padding-right: 9px;
    list-style: none
}

.adult_list .radio_item{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.adult_list .radio_item {
    width: 50%
}

.radio_group label {
    cursor: pointer;
}

