.smain_wrap {
  text-align: center;
}

.smain_container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* 자식 요소들을 가로로 배치합니다. */
  align-items: center;
  padding: 100px;
  margin: auto;
}

.sh2 {
  margin-top: 20px;
  margin-bottom: -50px;
  color: #373737;
}


.smain_container .main-slider1 {
  width: 45%;
  transform: translateX(76px);
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.smain_container .main-slider2 {
  width: 55%;
  transform: translateX(-75px);
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 1;
  opacity: .75;
  color: #c4c4c4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: '←';
}

.main-slider .slick-slide>div {
  position: relative;
}

.slide1_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.slide-content {
  height: 50vh;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.img1 {
  width: 250px;
  height: auto;

}

.img2 {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.book-title_s {
  text-align: left;
  font-size: 20px;
  font-weight: 700;

}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 0 0;
}

.book-title_s {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}

.bicon {
  width: 22px;
}

.book-author_s {
  text-align: left;
  color: #6a6a6a;
  font-size: 15px;
  margin: 10px 0;
}

.book-description {
  text-align: left;
  /* 책 설명의 너비를 제한합니다. */
  overflow-wrap: break-word;
  /* 단어가 너무 길어지면 단어를 나눠서 표시합니다. */
  word-wrap: break-word;
  /* 이전 버전의 브라우저를 지원하기 위해 추가합니다. */
  margin-top: 5px;

}