/* Header.css */

.main_container {
   width: 100%;
   height: 100%;
   background-color: #fdfdff;
}

.header_fixed {
   width: 100%;
   padding: 15px 0;
   border-bottom: 1px solid #dadada;
   background-color: #ffffffd4;
   position: fixed;
   top: 0;
   z-index: 5;
   background-color: #ffffffd4;
}

.header_inner {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 0 15px;
}

.logo,
.search_wrap,
.menu_wrap {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   width: 100px;
   height: 26px;
   padding: 0 10px 10px 0;
   margin-right: 20px;
}

.search_wrap {
   margin: 10px 0;
}

.search_box {
   width: 80%;
   height: 48px;
   border: 1px solid #5b5b5b;
   border-radius: 25px;
   justify-content: center;
   padding-right: 5px;
   background-color: #fff;
}

.menu_wrap {
   width: 100px;
}

.library_icon,
.mypage_icon {
   margin: 5px;
}

.search_box input[type=text]::-webkit-input-placeholder {
   color: #b1b1b1;
}

.search_ {
   width: 100%;
}

.top-button {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 8;
   display: none;
}

.top-button img {
   width: 50px;
   height: 50px;
}

@media (min-width: 641px) {
   .header_inner {
       width: 1000px;
       flex-direction: row;
       justify-content: space-between;
   }

   .logo {
       width: 300px;
       height: 78px;
       margin-right: 20px;
   }

   .search_wrap,
   .menu_wrap {
       flex-grow: 1;
   }

   .menu_wrap {
       width: 300px;
   }

   .search_box {
       width: 560px;
   }

   .search_ {
       width: auto;
   }
}