.header_normal,
.header_fixed {
    width: 100%;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid #dadada;
    background-color: #ffffffd4;
}

.header_fixed {
    display: block;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 10px 0px;
    background-color: #ffffffd4;
  }

.header_inner {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.logo,
.search_wrap,
.menu_wrap {
    flex-grow: 1;
}

.logo {
    width: 300px;
    height: 78px;
    padding: 0px 10px 10px 0px;
    margin-right: -10px;
}



.search_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


.menu_wrap {
    width: 300px;
    display: flex;
    justify-content: right;
}

.library_icon,
.mypage_icon {
    margin: 5px;
}

.search_box input[type=text]::-webkit-input-placeholder {
    color: #b1b1b1
}

.search_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_text_mh {
    width: 85%;
    height: 49px;
    padding: 0px 5px 0px 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.5px;
    color: #222;
    z-index: 2
}

.search_box {
    width: 560px;
    height: 48px;
    border: 1px solid #5b5b5b;
    border-radius: 25px 25px 25px 25px;
    justify-content: center;
    padding-right: 5px;
    background-color: #fff;
}

.small_nav_2 ul {
    text-align: center;
    list-style-type: none;
}

.small_nav_2 ul li {
    display: inline;
}


.small_nav_2 {
    padding-top: 15px;

}

.small_nav_2 ul li {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin-inline: 30px;
    color: #000000;
}

.small_nav_2 a {
    color: #373737;
}


.small_nav_2 a:hover {
    color: #692ead;
}
