/* 이달의 책 */
.monthbooks_wrap {
    width: 1280px;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthbooks_wrap .month_title {
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
    font-weight: 600;
    color: #373737;
}

.monthbooks_wrap .view_more {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #666;
    cursor: pointer;
}

.monthbooks_wrap .book_covers {
    width: 100%;
    display: flex;
    justify-content: space-between;  /* 추가 */
    padding: 0px;
    margin: 10px 0px;
}

.monthbooks_wrap .book_covers img {
    width: 160px;
    height: 240px;
    margin: 10px 0px;
}

.coverexplain {
    text-align: center;
}

.bookcovertitle,
.author {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.bookcovertitle {
    font-weight: bold;
    color: #333;
}

.author {
    color: #666;
}

.view_more {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* 더보기 */
.month {
    width: 1280px;
    height: auto;
    margin-top: 2vh;
    gap: 1em;
}

.month-line1,
.month-line2,
.month-line3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.month-book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    position: relative;
}

.bookcover {
    position: absolute;
    width: 20vw;
    height: 25vh;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    filter: drop-shadow(0px 2px 5px rgba(72, 85, 97, 0.2));
    z-index: 2;
    bottom: 0;
}

.book_covers {
    filter: drop-shadow(0px 2px 5px rgba(72, 85, 97, 0.2));
}

.bookback1,
.bookback2,
.bookback3,
.bookback4,
.bookback5,
.bookback6,
.bookback7,
.bookback8,
.bookback9 {
    position: absolute;
    width: 100%;
    height: 15vh;
    background-size: auto 100%;
    background-position: center;
    z-index: 1;
    bottom: 0;
    pointer-events: none;
    border-radius: 3px;
}

.bookback1 {
    background-color: #c9cccf;
}

.bookback2 {
    background-color: #576370;
}

.bookback3 {
    background-color: #889099;
}

.bookback4 {
    background-color: #415b77;
}

.bookback5 {
    background-color: #3f5269;
}

.bookback6 {
    background-color: #afb4b9;
}

.bookback7 {
    background-color: rgb(72, 85, 97);
}

.bookback8 {
    background-color: #364a5e;
}

.bookback9 {
    background-color: #52657a;
}

.book1,
.book2,
.book3,
.book4,
.book5,
.book6,
.book7,
.book8,
.book9 {
    width: calc((100% - 2em) / 3);
    height: 40vh;
}

.bookexplain {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookoneliner,
.booktitle {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.bookoneliner {
    font-weight: bold;
    color: #333;
}

.booktitle {
    color: #666;
}

/* 반응형 웹 디자인 */
@media screen and (max-width: 640px) {
    .monthbooks_wrap {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  
    .monthbooks_wrap .book_covers {
      flex-direction: column;
      align-items: center;
    }
  
    .monthbooks_wrap .book_covers img {
      margin: 10px auto;
    }
  
    .month {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  
    .month-line1,
    .month-line2,
    .month-line3 {
      flex-direction: column;
      align-items: center;
    }
  
    .book1,
    .book2,
    .book3,
    .book4,
    .book5,
    .book6,
    .book7,
    .book8,
    .book9 {
      width: 100%;
      height: auto;
    }
  }