.header_normal,
.header_fixed {
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #dadada;
    background-color: #ffffffd4;
    
}
.header_fixed a{
    text-decoration: none;
    cursor: pointer
}

.header_fixed {
    display: block;
    position: fixed;
    top: 0;
    z-index: 5;
}

.header_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 15px;

}


.search_wrap {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


.search_ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search_box {
    width: 560px;
    height: 48px;
    border: 1px solid #5b5b5b;
    border-radius: 25px 25px 25px 25px;
    justify-content: center;
    padding-right: 5px;
    background-color: #fff;
}

.small_nav_2 ul {
    text-align: center;
    list-style-type: none;
}

.small_nav_2 {
    padding-top: 15px;

}

.small_nav_2 ul li {
    display: inline;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin-inline: 30px;
    color: #000000;
}

.small_nav_2 a {
    color: #373737;
}


.small_nav_2 a:hover {
    color: #692ead;
}


@media (min-width: 641px) {
    .header_inner {
        width: 1280px;
        flex-direction: row;
        justify-content: space-between;
    }

    .search_wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .search_ {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}