/* Main_nav.css */
html {
    scroll-behavior: smooth;
}

.small_nav_1 {
    padding: 25px;
}

.small_nav_1 ul {
    text-align: center;
    list-style-type: none;
}

.small_nav_1 ul li {
    display: inline;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-inline: 40px;
    color: #000000;
}

.small_nav_1 a {
    color: #373737;
    text-decoration: none;
    cursor: pointer
}

.small_nav_1 a:hover {
    color: #692ead;
}

@media (max-width: 641px) {
    .small_nav_1 {
        margin-top: 155px;
        padding: 50px;
    }

    .small_nav_1 ul {
        text-align: center;
        list-style-type: none;
    }

    .small_nav_1 ul li {
        display: inline;
        font-size: 18px;
        white-space: nowrap;
        font-weight: 600;
        line-height: 24px;
        margin-inline: 40px;
        color: #000000;
    }
}